<app-header />

<main>
  <ul id="users">
    @for (user of users; track  user.id){
  <li>
      <app-user [user]="user" (select)="onUserSelect($event)"/>
    </li>
    }
  </ul> 
@if(userName){

  <app-tasks [userName]="userName.name" />
}
@else {
<p>Select User </p>
}

<!-- 
<ul>
  <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onUserSelect($event)"/>
    </li>
    
  </ul> 

  <app-tasks *ngIf="userName ;else fallback " [userName]="userName!.name" />

<ng-template #fallback>

  <p>Select User </p>
</ng-template> -->

</main>